name: CI

on:
  push:
    branches: '*'
  pull_request:
    branches: '*'
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python_version: ["3.7", "3.9", "3.10"]
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Install Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python_version }}
        architecture: 'x64'

    - name: Install dependencies
      run: |
        python -m pip install -U pip codecov
        pip install -e .[test]

    - name: Lint code
      run: python -m pre_commit run --all

    - name: Run test
      run: |
        python setup.py --version
        python -m build .
        pytest -vv --cov jupyter_packaging --cov-branch --cov-report term-missing:skip-covered

    - name: Coverage
      run: |
        codecov
